---
- hosts: all
  remote_user: vagrant
  gather_facts: yes

  vars_files:
    - vars/main.yml

  roles:
    - role: geerlingguy.jenkins
      when: is_master is defined and is_master

    - role: FGtatsuro.android
      when: is_slave is defined and is_slave

    - role: debops.ruby
      when: is_slave is defined and is_slave